<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Template</title>
    <style> {{css}} </style>
</head>
<body>
    {% for group in groups %}
        {% for step in group.steps %}
            {% for question in step.questions %}
                {% if question.type != "divider" and question.type != "informational" %}
                    <div class="question-wrapper">
                        <div class="label-container">
                            <p>{{ question.label }}</p>
                        </div>
                        <div class="input-container">
                {% endif %}
                    {% if question.type == "select" %}
                        {% for choice in question.choices %}
                            <div class="choice-wrapper">
                                <label for="{{ choice.value }}">{{ choice.label }}</label>
                                <input type="checkbox" id="{{ choice.value }}" name="{{ question.schemaKey }}" value="{{ choice.value }}">
                            </div>
                        {% endfor %}
                    {% elif question.type == "boolean" %}
                        {% for choice in question.choices %}
                            <div class="choice-wrapper">
                                <label for="{{ question.schemaKey }}-{{ choice.value }}">{{ choice.label }}</label>
                                <input type="radio" id="{{ question.schemaKey }}-{{ choice.value }}" name="{{ question.schemaKey }}" value="{{ choice.value }}">
                            </div>
                        {% endfor %}
                    {% elif question.type == "text" %}
                        <input type="text" id="{{ question.schemaKey }}" name="{{ question.schemaKey }}">
                    {% elif question.type == "number" %}
                        <input type="number" id="{{ question.schemaKey }}" name="{{ question.schemaKey }}">
                    {% elif question.type == "date" %}
                        <input type="date" id="{{ question.schemaKey }}" name="{{ question.schemaKey }}">
                    {% elif question.type == "grid" %}
                        <div class="grid-wrapper">
                            <table>
                                <tr>
                                    <td />
                                    {% for choice in question.subQuestions[0].choices %}
                                    <td>{{ choice.label }}</td>
                                    {% endfor %}
                                
                                </tr>
                                
                                {% for subquestion in question.subQuestions %}
                                    <tr>
                                        <td>{{ subquestion.label }}</td>
                                        {% for choice in subquestion.choices %}
                                            <td><input type="radio" id="{{ question.schemaKey }}-{{ subquestion.schemaKey }}-{{ choice.value }}" name="{{ question.schemaKey }}-{{ subquestion.schemaKey }}" value="{{ choice.value }}"></td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% elif question.type == "informational" %}
                        <div class="informational-wrapper">{{ question.label|safe }}</div>
                    {% endif %}
                {% if question.type != "divider" and question.type != "informational" %}
                        </div>
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</body>
</html>